venv/
.pyc
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.egg
*.egg-info/
dist/
build/
*.whl
*.tar.gz
*.zip
*.env
*.DS_Store
*.coverage
*.idea/
*.vscode/
*.mypy_cache/
*.pytest_cache/
*.tox/
*.coverage.*